esphome:
  name: environment
  project:
    name: vsmeets.esphome-env
    version: 1.1.0

esp8266:
  board: d1_mini

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Environment Fallback Hotspot"
    password: !secret wifi_ap_password

captive_portal:

i2c:
  scl: D1
  sda: D2

sensor:
  - platform: bme280_i2c
    address: 0x76
    temperature:
      name: Temperature
      filters:
        # 25.5 => 18.8
        - offset: -6.7
    pressure:
      name: Pressure
      filters:
        # 1017.9 => 1025.0
        - offset: 7.0
    humidity:
      name: Humidity
